p {
	margin:0px;
}
.linea{
background-color: #434479;
width: 100%;
height: .5em;
}
.logo{
	color: #DBE077;
	float: left;
	margin: .35em 0 .2em .4em;
}
.header{
	background-color: #4F4D8E;
	width: 100%;
	height: 2.5em;
}
.usuario{
	background-color: rgba(219,224,119,.3);
	width: 100%;
	height: 2.5em;
	float: left;
	line-height: 50%;

}
.nombre{
	float: left;
	margin-top: .65em;
	display: inline-block;
}
.nombreUsuario{
	font-size: 15px;
	color: #706F6F;
}
.arroba{
	font-size: 7px;
	color: #A0A0A0;
}
.fotoPerfil{
	background-color: #DBE077;
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	margin: .5em .3em .5em .3em;
	display: inline-block;
	float: left;
}
.hora{
	float: right;
	font-size: 9px;
	margin: 1.75em;
	display: inline-block;
	color: #A0A0A0;
}
.pie{
	background-color: #DBE077;
	width: 2.2em;
	height: 2.2em;
	margin: 1em;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	bottom: 100%;